@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

.login,
.image {
  min-height: 100vh;
}
.bg-image {
  background-image: url("/src/img/Twidda_Grafitti_Background.png");
  background-size: cover;
  background-position: center center;
}

h3 {
  color: rgb(44, 47, 50);
  font-family: "Ubuntu", sans-serif;
}

p {
  font-family: "Ubuntu", sans-serif;
  margin-left: 7px;
}

.background {
  background-color: rgb(225 232 237);
}

.title {
  padding-left: 121px !important;
}

h1 {
  font-size: 50px !important;
  margin: auto;
  text-align: center;
}

input {
  margin: auto !important;
  width: 40% !important;
  text-align: center;
  border-radius: 20px;
  border: none !important;
  background-color: rgb(255, 255, 255);
  padding: 8px;
}

.centerText{
  margin: auto !important;
  width: 10% !important;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1) !important;
  border: none !important;
  background-color: rgb(255, 255, 255);
  padding: 4px;
}

.new_line {
  white-space: pre-line;
}


@media (max-width: 1300px) {
  .centerText {
    width: 14% !important; 
  }
  }


