@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

.login,
.image {
  min-height: 100vh;
}
.bg-image {
  background-image: url("/src/img/Twidda_Grafitti_Background.png");
  background-size: cover;
  background-position: center center;
}

h3,
h2 {
  color: rgb(50, 44, 44);
  font-family: "Ubuntu", sans-serif;
}

p {
  font-family: "Ubuntu", sans-serif;
  margin-left: 7px;
}

.background {
  background-color: rgb(225 232 237);
}

.title {
  padding-left: 121px !important;
}

h1 {
  font-size: 50px !important;
  margin: auto;
  text-align: center;
}

input {
  margin: auto !important;
  width: 40% !important;
  text-align: center;
  border-radius: 20px;
  border: none !important;
  background-color: rgb(255, 255, 255);
  padding: 8px;
}

.centerText {
  display: inline-block;
  margin: auto !important;
  width: fit-content !important;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1) !important;
  border: none !important;
  background-color: rgb(255, 255, 255);
}

.new_line {
  white-space: pre-line;
}

.box {
  margin: auto;
  width: 40%;
  border: 1px rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-radius: 10px;
  overflow-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 15px;
}

.analyticsIcons {
  max-width: 25px;
  padding-left: 2px;
}

.analyticsDiv {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.circularIcon {
  width: 60px;
  height: 60px;
  border-radius: 50% !important;
}
.circularProfileIcon {
  width: 110px;
  height: 110px;
  border-radius: 50% !important;
}

.userName {
  overflow: hidden;
  display: flex;
}

.name-padding {
  padding-left: 20px !important;
}
.profile-name {
  font-size: 30px !important;
}

.text-padding {
  padding: 20px !important;
}

.mediaImg {
  display: block;
  width: 100% !important;
  height: auto !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-bottom: 10px !important;
}

.media-container {
  position: relative;
}

.playBtn {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.notFound {
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.explore {
  margin: 0 auto;
  width: 50% !important;
  height: auto !important;
  display: flex !important;
  align-content: center !important;
  justify-content: center o !important;
  opacity: 0.1 !important;
  pointer-events: none;
}

.descriptionPadding {
  padding: 15px;
}

.locationIcon,
.createdAtIcon {
  max-width: 20px;
}

.locationDiv {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.metricPadding {
  overflow: hidden;
  display: flex;
  /* padding: 15px; */
  pointer-events: none;
}

.verified {
  max-width: 30px;
  padding-left: 2px;
  margin-top: -5px;
  pointer-events: none;
}

.followersPadding {
  display: flex;
  padding: 15px;
}

.extraPadding {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.staticProfileIcons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.staticProfileIcons {
  padding: 20px;
  width: 100%;
  max-width: 280px;
  height: auto;
  border-radius: 50% !important;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.center_p {
  margin: 0 auto;
  text-align: center;
}
