@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

.login,
.image {
  min-height: 100vh;
}
.bg-image {
  background-image: url("/src/img/Twidda_Grafitti_Background.png");
  background-size: cover;
  background-position: center center;
}

h3 {
  color: rgb(44, 47, 50);
  font-family: "Ubuntu", sans-serif;
}

p {
  font-family: "Ubuntu", sans-serif;
  margin-left: 7px;
}

.background {
  background-color: rgb(225 232 237);
}

.title {
  padding-left: 121px !important;
}
