@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.login,
.image {
  min-height: 100vh;
}
.bg-image {
  background-image: url('/src/img/Twidda\ Grafitti\ Background.png');
  background-size: cover;
  background-position: center center;
}

h3{
  color: rgb(44, 47, 50);
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-family: 'Ubuntu', sans-serif;
}

.background {
  background-color: rgb(225 232 237);
}

.navbar-brand {
  color: rgb(44, 47, 50) !important;
  font-size: 20px !important;
  font-family: 'Ubuntu', sans-serif;
}
.nav-item {
  color: rgb(44, 47, 50) !important;
  padding-left: 35px !important;
  font-size: 20px !important;
  font-family: 'Ubuntu', sans-serif;
  
}

.title {
  padding-left: 126px !important;
}


